body {
  background-color: #e3ffe3;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.country-header {
  background-color: #869686;
  margin-bottom: 10px;
  color: white;
  border-radius: 4px;
}
.country-bg {
  background-color: #ccffcc;
  margin-bottom: 10px;
  border-radius: 4px;
}
.country-bg *{
  background-color: #789678;
  margin-bottom: 5px;
  width: fit-content;
  color:white;
  border-radius: 4px;
}
.country-btn {
  background-color: #8fff8f;
  border-radius: 4px;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
